@import 'w3';

/*
    tablaInfo
    Aqui estan el estilo de la tabla de Ventas Simples
*/

#parteDerecho{
    >tablaInfo{
        >div{
            //estilo del encabezado
            >section#tableTop_Venta{
                @extend .w3-row;
                @extend .w3-green;
                border-bottom: 1px solid black;
                >div{
                    @extend .w3-col;
                    @extend .w3-center;
                    border-left: 1px solid black;
                }
                :first-child{
                    border-left: 0px none green;
                }
                >.cel1{ //id
                    @extend .l2;
                    @extend .m1;
                    @extend .s4;
                }
                >.cel2{ //cliente
                    @extend .l3;
                    @extend .m3;
                    //@extend .s3;

                    @extend .w3-hide-small;
                }
                >.cel3{ //responsable
                    @extend .l3;
                    @extend .m4;
                    @extend .s4;
                }
                >.cel4{ //fecha
                    @extend .l2;
                    @extend .m2;
                    @extend .s4;
                }
                >.cel5{ //vendidos
                    @extend .l2;
                    @extend .m2;
                    //@extend .s2;

                    @extend .w3-hide-small;
                }
            }
            //estilo del cuerpo de la taba
            >div#cuerpoEntero{
                height: 600px;
                overflow-y: scroll;
                //estido de renglon de la tabla
                >section.renglosElement_Venta{
                    @extend .w3-row;
                    border-bottom: 1px solid black;
                    >div{
                        @extend .w3-col;
                        @extend .w3-center;
                        overflow: hidden;
                    }
                    >.cel1{ //id
                        @extend .l2;
                        @extend .m1;
                        @extend .s4;
                    }
                    >.cel2{ //Cliente
                        @extend .l3;
                        @extend .m3;
                        //@extend .s3;

                        @extend .w3-hide-small;
                    }
                    >.cel3{ //Responsable
                        @extend .l3;
                        @extend .m4;
                        @extend .s4;
                    }
                    >.cel4{ //Fecha
                        @extend .l2;
                        @extend .m2;
                        @extend .s4;
                    }
                    >.cel5{ //Vendidos
                        @extend .l2;
                        @extend .m2;
                        //@extend .s2;

                        @extend .w3-hide-small;
                    }
                    .elementComplete{
                        @extend .l12;
                        @extend .m12;
                        @extend .s12;
                        height: auto;
                        section{
                            @extend .w3-display-container;
                            @extend .w3-card-2;
                            @extend .w3-margin;
                            
                        }
                    }
                }
            }   
        }
    }
}