@import 'w3';

/*
    en esta ocacion los estilos seran de 3 tablas en especifico
    La tabla de Autores
    La tabla de Editoriales
    La tabla de Genero
*/

:root{
    --color-primario: #008000;
    //green
    --color-letra: #ffffff;
}

.my-green-color{
    background: var(--color-primario);
    color: var(--color-letra);
}
.my-top-comond-style{
    display: block;
    @extend .w3-margin;
    >section:first-child{
        @extend .my-green-color;
        border-bottom: 1px solid black;
        margin-right: 16px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        >div{
            border-left: 1px solid black;
            min-height: 3.5em;
            height: 3.5em;
            
        }
        :first-child{
            border-left: 0px none green;
        }
    }
    section{
        @extend .w3-row;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 3.5em;
            max-height: 5em;
            text-align: center;
            @extend .w3-col;
            @extend .l2;
            @extend .m2;
        }
    }
    >div.cuerpoEntero{
        overflow-y: scroll;
        height: 480px;
        >section{
            border-bottom: 1px solid black;
            .elementComplete{
                display:block;
                justify-content:baseline;
                align-items: center;
                @extend .l12;
                @extend .m12;
                @extend .s12;
                max-height: fit-content;
                height: auto;
                section{
                    @extend .w3-display-container;
                    @extend .w3-card-2;
                    @extend .w3-margin;
                    padding-left: 1em;
                    p{
                        margin: 0px;
                        text-align: left;
                    }
                    ul{
                        margin: 0px;
                        text-align: left;
                    }
                }
            }
        }
        
    }
    //sacado de w3 link:https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
    /* width */
    ::-webkit-scrollbar {
        width: 16px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 8px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--color-primario);;
        border-radius: 8px;
    }
}

detalleLibro{
    display: block;
    @extend .w3-margin;
    >section{
        @extend .my-green-color;
        border-bottom: 1px solid black;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        >div{
            min-height: 3.5em;
            height: 3.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
    }
    
    >form{
        >div{
            @extend .w3-row;
            @extend .w3-padding;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            >div{
                @extend .w3-col;
            }
            >div:nth-child(1){
                @extend .l3;
                @extend .m2;
                @extend .s2;
            }
            >div:nth-child(2){
                @extend .l9;
                @extend .m10;
                @extend .s10;
            }
            >div:nth-child(3){
                @extend .l12;
                @extend .m12;
                @extend .s12;
            }
        }
        
    }
}

tbiAutor{
    @extend .my-top-comond-style;
    section{
        >div:nth-child(1){//id
            @extend .l2;
            @extend .m2;
            @extend .s2;
        }
        >div:nth-child(2){//Nombre
            @extend .l4;
            @extend .m4;
            @extend .s4;
        }
        >div:nth-child(3){//Apellidos
            @extend .l5;
            @extend .m4;
            @extend .s4;
        }
        >div:nth-child(4){//Accion
            @extend .l1;
            @extend .m2;
            @extend .s2;
            svg{
                max-height: 4em ;
            }
        }
    }
}
tbiEditorial{
    @extend .my-top-comond-style;
    section{
        >div:nth-child(1){//id
            @extend .l2;
            @extend .m3;
            @extend .s2;
        }
        >div:nth-child(2){//Nombre
            @extend .l8;
            @extend .m6;
            @extend .s7;
        }
        >div:nth-child(3){//Accion
            @extend .l2;
            @extend .m3;
            @extend .s3;
            svg{
                max-height: 4em ;
            }
        }
    }
}
tbiGeneros{
    @extend .my-top-comond-style;
    section{
        >div:nth-child(1){//id
            @extend .l2;
            @extend .m3;
            @extend .s2;
        }
        >div:nth-child(2){//Nombre
            @extend .l8;
            @extend .m6;
            @extend .s7;
        }
        >div:nth-child(3){//Accion
            @extend .l2;
            @extend .m3;
            @extend .s3;
            svg{
                max-height: 4em ;
            }
        }
    }
}