@import 'w3';

/*
    tablaInfo
    Aqui estan el estilo de la tabla de Autores Simples
*/

:root{
    --color-primario: #008000;
    //green
    --color-letra: #ffffff;
}

.my-green-color{
    background: var(--color-primario);
    color: var(--color-letra);
}

#parteDerecho{
    >tablaInfo{
        >div{
            section, div>section.rowsElement_Autor{
                >.cel1{ //id
                    @extend .l2;
                    @extend .m2;
                    @extend .s2;
                }
                >.cel2{ //nombre
                    @extend .l4;
                    @extend .m4;
                    @extend .s4;
                }
                >.cel3{ //apellido
                    @extend .l5;
                    @extend .m4;
                    @extend .s4;
                    
                }
                >.cel4{ //acciones
                    @extend .l1;
                    @extend .m2;
                    @extend .s2;
                }
            }

            //estilo del encabezado
            >section#tableTop_Autor{
                @extend .w3-row;
                @extend .my-green-color;
                border-bottom: 1px solid black;
                margin-right: 16px;
                
                >div{
                    @extend .w3-col;
                    border-left: 1px solid black;
                    min-height: 2em;
                    height: 2em;
                    
                }
                :first-child{
                    border-left: 0px none green;
                }
            }
            //estilo del cuerpo de la taba
            >div#cuerpoEntero{
                height: 650px;
                
                //estido de renglon de la tabla
                >section.rowsElement_Autor{
                    @extend .w3-row;
                    border-bottom: 1px solid black;
                    >div{
                        @extend .w3-col;
                        overflow: hidden;
                    }
                    >.cel4{
                        button{
                            @extend .w3-button;
                            @extend .w3-round-xxlarge;
                            @extend .my-green-color;
                        }
                    }
                    >.elementComplete{
                        
                        
                        section{
                            
                            >div{
                                display: block;
                                @extend .w3-col;
                                @extend .l6;
                                @extend .m6;
                                @extend .s12;
                                max-height: fit-content;
                            }
                        }
                    }
                }
            }
        }
    }
}