<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Total de todo lo que tengamos</title>
    <!-- principalStyle son el estilo base delas pantalla, si se sigue esta estructura las pantallas seran iguales -->
    <link rel="stylesheet" href="css/principalStyle.css">
    <link rel="stylesheet" href="css/modeloLibrosMod.css">

    <!--librerias-->
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>

</head>
<body ng-app="allApp" ng-controller="allController">
    <!-- Parte Izquierdo (#parteIzquierdo)-->
    <div id="parteIzquierdo">
        <banerSeccion>
            <!--Baner Seccion (banerSeccion)-->
            <div>
                <div id="logo">
                    <img src="img/Logo.png" alt="">
                </div>
                <div id="tituloSeccion">
                    <p>Libro</p>
                    <p>Modificar</p>
                </div>
                <div class="resetFloat"></div>
            </div>
        </banerSeccion>

        <accionesInputs>
            <!--Acciones de Inputs (accionesInputs) -->
            <div>
                <form action="noAccion" method="post">
                    <label for="libroID">Clave</label> 
                    <input type="number" name="libroID" id="libroID"  disabled>
                    <label for="libroNombre">Nombre</label>
                    <input type="text" name="libroNombre" id="libroNombre" disabled>
                </form>
            </div>
            <div>
                <form action="buscarAutorLib" method="post">
                    <label for="autorID">Clave Autor</label> 
                    <input type="number" name="autorID" id="autorID"
                        ng-model="autorID"
                    >
                    <label for="autorNombre">Nombre(s)</label>
                    <input type="text" name="autorNombre" id="autorNombre"
                        ng-model="autorNombre"
                    > 
                    <label for="autorApellido">Apellido(s)</label>
                    <input type="text" name="autorApellido" id="autorApellido"
                        ng-model="autorApellido"
                    > 
                </form>
            </div>
            <div>
                <form action="buscarEditorialLib" method="post">
                    <label for="editoID">Clave Editorial</label>
                    <input type="number" name="editoID" id="editoID"
                        ng-model="editoID"
                    >
                    <label for="editoNombre">Nombre</label> 
                    <input type="text" name="editoNombre" id="editoNombre"
                        ng-model="editoNombre"
                    > 
                </form>
            </div>
            <div>
                <form action="buscarGeneroLib" method="post">
                    <label for="generoID">Clave Genero</label>
                    <input type="number" name="generoID" id="generoID"
                        ng-model="generoID"
                    >
                    <label for="generoNombre">Nombre</label> 
                    <input type="text" name="generoNombre" id="generoNombre"
                        ng-model="generoNombre"
                    > 
                </form>
            </div>
        </accionesInputs>

        <botonesDeAccion>
            <!--Botones de accion (botonesDeAccion)-->
            <div>
                <div> <button>Busqueda</button> </div> 
                <p>Elementos aderidos</p>
                <div><button>Autor(es)</button></div>
                <div><button>Editorial(es)</button></div>
                <div><button>Genero(s)</button></div>
                <div><button>Regresar a libro</button></div>
                <p>Navegar a:</p>
                <div> <a href="PantallaLibros.html"> <button>Regresar</button> </a> </div>
                <div> <a href="MenuPrincipal.html"> <button>Menu</button> </a> </div>
            </div>
        </botonesDeAccion>
    </div>
    <!--Parte Derecho (#parteDerecho)-->
    <div id="parteDerecho">
        
        <detalleLibro>
            <section>
                <div>Modificar Libro</div>
            </section>
            
            <form action="modificarLibro" method="post">
            <div>
                <div>
                    <label for="libroIDM">Clave</label> 
                    <input type="number" name="libroIDM" id="libroIDM" >
                </div>
                <div>
                    <label for="libroTituloM">Titulo</label>
                    <input type="text" name="libroTituloM" id="libroTituloM" >
                </div>
                <div>
                    <label for="libroPrecioM">Precio</label>
                    <input type="number" name="libroPrecioM" id="libroPrecioM">
                    <label for="libroEdicionM">No. Edicion</label>
                    <input type="number" name="libroEdicionM" id="libroEdicionM">
                    <label for="libroCantidadM">Cantidad</label>
                    <input type="number" name="libroCantidadM" id="libroCantidadM">
                </div>
                <div>
                    <button type="submit">Aplicar Modificacion</button>
                </div>
            </div>
            </form>
        </detalleLibro>

        <tbiAutor>
            <section>
                <div>Clave</div>
                <div>Nombre(s)</div>
                <div>Apellido(s)</div>
                <div>Actions</div>
            </section>
            <div class="cuerpoEntero">
                <section>
                    <div>{{autor.id}}</div>
                    <div>{{autor.nombre}}</div>
                    <div>{{autor.apellido}}</div>
                    <div>
                        <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="45" fill="#008000"/>
                            <rect x="85" y="45" width="15" height="65" transform="rotate(90 85 45)" fill="black" fill-opacity="0.4"/>
                            <rect x="83" y="42" width="15" height="65" transform="rotate(90 83 42)" fill="white"/>
                        </svg>
                    </div>
                    <div class="elementComplete">
                        <section>
                            <p>ID: {{autor.id}}</p>
                            <p>Nombre: {{autor.nombre}}</p>
                            <p>Apellido: {{autor.apellido}}</p>
                        </section>
                    </div>
                </section>
            </div>
            <div class="pieTabla">
                <div>Buscar clave</div>
                <div>Nombre</div>
                <div>Apellido</div>
                <div>Aderrir</div>
                <form name="aderirAutorOnLibro" id="aderirAutorOnLibro" action="aderirAutorOnLibro" method="post">
                    <div>
                        <input type="number" name="idAutorB" id="idAutorB" 
                            ng-model="idAutorB"
                            ng-keyup="onDesplegarClaveAutor($event,idAutorB)"
                        >
                    </div>
                    <div>
                        <input type="text" list="autorNamesFound" name="nombreAutorB" id="nombreAutorB" required 
                            ng-model = "nombreAutorB"
                            ng-keyup= "onBuscarAutorNombre(nombreAutorB,$event)"
                        >
                        <datalist id="autorNamesFound" >
                            <option
                                ng-repeat="autor in listBusqAutor" 
                                value="{{autor.nombre}}"
                                
                            > {{autor.nombre}} {{autor.apellido}} </option>
                        </datalist>
                    </div>
                    <div>
                        <input type="text" list="autorApellFound" name="apellidoAutorB" id="apellidoAutorB" required 
                            ng-model = "apellidoAutorB"
                            ng-keyup="onBuscarAutorApellido(apellidoAutorB,$event)"
                        >
                        <datalist id="autorApellFound">
                            <option
                                ng-repeat="autor in listBusqAutor"
                                value="{{autor.apellido}}"
                            > {{autor.nombre}} {{autor.apellido}}  </option>
                        </datalist>
                    </div>
                    <div>
                        <svg  viewBox="-10 -10 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle class="fondoG" cx="50" cy="50" r="45" fill="#008000"/>
                            <g class="cruzNegraG">
                                <rect x="44" y="20" width="15" height="65" fill="black" fill-opacity="0.4"/>
                                <rect x="85" y="45" width="15" height="65" transform="rotate(90 85 45)" fill="black" fill-opacity="0.4"/>
                            </g>
                            <g class="cruzBlancaG">
                                <rect x="42" y="17" width="15" height="65" fill="white"/>
                                <rect x="83" y="42" width="15" height="65" transform="rotate(90 83 42)" fill="white"/>
                            </g>
                        </svg>
                    </div>
                </form>
            </div>
        </tbiAutor>

        <tbiEditorial>
            <section>
                <div>Clave</div>
                <div>Nombre</div>
                <div>Actions</div>
            </section>
            <div class="cuerpoEntero">
                <section>
                    <div>{{editorial.id}}</div>
                    <div>{{editorial.nombre}}</div>
                    <div>
                        <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="45" fill="#008000"/>
                            <rect x="85" y="45" width="15" height="65" transform="rotate(90 85 45)" fill="black" fill-opacity="0.4"/>
                            <rect x="83" y="42" width="15" height="65" transform="rotate(90 83 42)" fill="white"/>
                        </svg>
                    </div>
                    <div class="elementComplete">
                        <section>
                            <p>ID: {{editorial.id}}</p>
                            <p>Nombre: {{editorial.nombre}}</p>
                        </section>
                    </div>
                </section>
            </div>
            <div class="pieTabla">
                <div>Buscar clave</div>
                <div>Editorial</div>
                <div>Aderrir</div>
                <form action="aderirEditorialOnLibro">
                    <div>
                        <input type="number" name="idEditorialB" id="idEditorialB">
                    </div>
                    <div>
                        <input type="text" list="editorialNamesFound" name="nombreEditorialB" id="nombreEditorialB" required 
                            ng-model = "nombreEditorialB"
                            ng-keyup="onBuscarEditorial(nombreEditorialB,$event)"
                        >
                        <datalist id="editorialNamesFound">
                            <option
                                ng-repeat="editorial in listBusqEditorial" 
                                value="{{editorial.nombre}}"
                            >
                        </datalist>
                    </div>
                    <div>
                        <svg  viewBox="-10 -10 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle class="fondoG" cx="50" cy="50" r="45" fill="#008000"/>
                            <g class="cruzNegraG">
                                <rect x="44" y="20" width="15" height="65" fill="black" fill-opacity="0.4"/>
                                <rect x="85" y="45" width="15" height="65" transform="rotate(90 85 45)" fill="black" fill-opacity="0.4"/>
                            </g>
                            <g class="cruzBlancaG">
                                <rect x="42" y="17" width="15" height="65" fill="white"/>
                                <rect x="83" y="42" width="15" height="65" transform="rotate(90 83 42)" fill="white"/>
                            </g>
                        </svg>
                    </div>
                </form>
            </div>
        </tbiEditorial>

        <tbiGeneros>
            <section>
                <div>Clave</div>
                <div>Nombre</div>
                <div>Actions</div>
            </section>
            <div class="cuerpoEntero">
                <section>
                    <div>{{genero.idGenero}}</div>
                    <div>{{genero.nombre}}</div>
                    <div>
                        <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="45" fill="#008000"/>
                            <rect x="85" y="45" width="15" height="65" transform="rotate(90 85 45)" fill="black" fill-opacity="0.4"/>
                            <rect x="83" y="42" width="15" height="65" transform="rotate(90 83 42)" fill="white"/>
                        </svg>
                    </div>
                    <div class="elementComplete">
                        <section>
                            <p>ID: {{genero.idGenero}}</p>
                            <p>Nombre: {{genero.nombre}}</p>
                        </section>
                    </div>
                </section>
            </div>
            <div class="pieTabla">
                <div>Buscar clave</div>
                <div>Genero</div>
                <div>Aderrir</div>
                <form name="aGeneroOnLibro" id="aGeneroOnLibro" action="aderirGeneroOnLibro">
                    <div>
                        <input type="number" name="idGeneroB" id="idGeneroB">
                    </div>
                    <div>
                        <input type="text" list="generoNamesFound" name="nombreGeneroB" id="nombreGeneroB" required 
                            ng-model = "nombreGeneroB"
                            ng-keyup="onBuscarGenero(nombreGeneroB,$event)"
                        >
                        <datalist id="generoNamesFound">
                            <option
                                ng-repeat="genero in listBusqGenero" 
                                value="{{genero.nombre}}"
                            >
                        </datalist>
                    </div>
                    <div>
                        <svg  viewBox="-10 -10 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle class="fondoG" cx="50" cy="50" r="45" fill="#008000"/>
                            <g class="cruzNegraG">
                                <rect x="44" y="20" width="15" height="65" fill="black" fill-opacity="0.4"/>
                                <rect x="85" y="45" width="15" height="65" transform="rotate(90 85 45)" fill="black" fill-opacity="0.4"/>
                            </g>
                            <g class="cruzBlancaG">
                                <rect x="42" y="17" width="15" height="65" fill="white"/>
                                <rect x="83" y="42" width="15" height="65" transform="rotate(90 83 42)" fill="white"/>
                            </g>
                        </svg>
                    </div>
                </form>
            </div>
        </tbiGeneros>
    </div>

    
</body>

<!--script del final-->
<script src="js/clasesPruebas/Autor.js"></script>
<script src="js/clasesPruebas/Editorial.js"></script>
<script src="js/clasesPruebas/Genero.js"></script>
<script src="js/mainLibrosMod.js"></script>


</html>